In [0]:
%run ../utils/variables

In [0]:
CREATE OR REPLACE TABLE openalex.institutions.institutions_api AS
WITH institution_lineage AS (
  SELECT
    institution_id,
    COLLECT_LIST(ancestor_id) AS lineage_ids
  FROM openalex.mid.institution_ancestors
  WHERE NOT ARRAY_CONTAINS(SUPER_SYSTEM_INSTITUTIONS, ancestor_id)
  GROUP BY institution_id
),

wa AS (
  SELECT
    w.id,
    w.publication_year,
    w.publication_date,
    w.cited_by_count,
    w.open_access,
    w.topics,
    w.updated_date,
    w.created_date,
    EXPLODE_OUTER(w.authorships) AS a
  FROM openalex.works.openalex_works w
),
wai AS (
  SELECT
    id,
    publication_year,
    publication_date,
    cited_by_count,
    open_access,
    topics,
    updated_date,
    created_date,
    EXPLODE_OUTER(a.institutions) AS inst
  FROM wa
),
-- per-work, per-institution base
works_base AS (
  SELECT
    CAST(replace(inst.id, 'https://openalex.org/I', '') AS BIGINT) as institution_id,
    id AS work_id,
    COALESCE(publication_year, YEAR(publication_date)) AS pub_year,
    CAST(cited_by_count AS INT) AS cited_by_count,
    CAST(open_access.is_oa AS BOOLEAN) AS is_oa,
    topics AS work_topics,
    updated_date,
    created_date
  FROM wai
  WHERE inst.id IS NOT NULL
),
-- dedupe to unique (work, institution) grain for counting works
unique_work_institution_pairs AS (
  SELECT DISTINCT
    work_id,
    institution_id,
    pub_year,
    cited_by_count,
    is_oa
  FROM works_base
),
-- compact per-institution rollup for totals and summary_stats helpers
main_agg_pre AS (
  SELECT
    institution_id,
    CAST(COUNT(DISTINCT work_id) AS INT) AS works_count,
    CAST(SUM(cited_by_count) AS INT) AS cited_by_count,
    CAST(SUM(CASE WHEN is_oa THEN 1 ELSE 0 END) AS INT) AS oa_works_count,
    CAST(AVG(CASE WHEN pub_year >= YEAR(current_date()) - 2 THEN cited_by_count END) AS DOUBLE) AS two_year_mean,
    CAST(COUNT_IF(cited_by_count >= 10) AS INT) AS i10_index,
    SORT_ARRAY(
      TRANSFORM(
        FILTER(COLLECT_LIST(cited_by_count), x -> x IS NOT NULL),
        x -> CAST(x AS INT)
      ),
      false
    ) AS sorted_citations,
    MAX(updated_date) AS updated_date,
    CAST(MIN(created_date) AS DATE) AS created_date
  FROM works_base
  GROUP BY institution_id
),
-- topics + topic_share (same template as authors/sources)
topics_and_share AS (
  WITH awt AS (
    SELECT DISTINCT
      institution_id,
      work_id,
      CAST(t.id AS STRING) AS topic_id,
      t.display_name, t.subfield, t.field, t.domain, t.score
    FROM (
      SELECT institution_id, work_id, EXPLODE_OUTER(work_topics) AS t
      FROM works_base
      WHERE work_id IS NOT NULL
    )
    WHERE t.id IS NOT NULL
  ),
  counts AS (
    SELECT
      institution_id,
      topic_id,
      MAX_BY(display_name, score) AS display_name,
      MAX_BY(subfield, score) AS subfield,
      MAX_BY(field, score) AS field,
      MAX_BY(domain, score) AS domain,
      MAX(score) AS score,
      COUNT(DISTINCT work_id) AS cnt
    FROM awt
    GROUP BY GROUPING SETS ((institution_id, topic_id), (topic_id))
  ),
  with_totals AS (
    SELECT
      institution_id,
      topic_id,
      display_name, subfield, field, domain, score,
      cnt AS topic_count,
      MAX(CASE WHEN institution_id IS NULL THEN cnt END) OVER (PARTITION BY topic_id) AS topic_total
    FROM counts
  )
  SELECT
    institution_id,
    SLICE(ARRAY_SORT(
      COLLECT_LIST(
        STRUCT(
          topic_id AS id,
          display_name,
          CAST(topic_count AS INT) AS count,
          score,
          subfield,
          field,
          domain
        )
      ),
      (l, r) -> CASE
        WHEN l.count > r.count THEN -1
        WHEN l.count < r.count THEN 1
        WHEN l.id < r.id THEN -1
        WHEN l.id > r.id THEN 1
        ELSE 0
      END
    ),1,25) AS topics,
    SLICE(ARRAY_SORT(
      COLLECT_LIST(
        STRUCT(
          topic_id AS id,
          display_name,
          ROUND(CAST(topic_count AS DOUBLE) / NULLIF(topic_total, 0), 7) AS value,
          subfield,
          field,
          domain
        )
      ),
      (l, r) -> CASE
        WHEN l.value > r.value THEN -1
        WHEN l.value < r.value THEN 1
        WHEN l.id < r.id THEN -1
        WHEN l.id > r.id THEN 1
        ELSE 0
      END
    ),1,25) AS topic_share
  FROM with_totals
  WHERE institution_id IS NOT NULL
  GROUP BY institution_id
),

-- finalize summary_stats struct from helpers
main_agg AS (
  SELECT
    institution_id AS id,
    NAMED_STRUCT(
      '2yr_mean_citedness', COALESCE(two_year_mean, 0.0),
      'h_index',
        CAST(
          ARRAY_MAX(
            ZIP_WITH(
              sorted_citations,
              SEQUENCE(1, SIZE(sorted_citations)),
              (citation, rank) -> IF(citation >= rank, rank, 0)
            )
          ) AS INT
        ),
      'i10_index', COALESCE(i10_index, 0)
    ) AS summary_stats,
    works_count,
    cited_by_count,
    oa_works_count,
    updated_date,
    created_date
  FROM main_agg_pre
),

-- MOVED HERE: Roles CTE (after main_agg)
institution_roles AS (
  WITH entity_links_expanded AS (
    SELECT 
      i.id AS institution_id,
      el.id_1,
      el.id_2
    FROM openalex.institutions.institutions i
    INNER JOIN openalex.mid.entity_link el 
      ON (el.id_1 = CONCAT('I', i.id) OR el.id_2 = CONCAT('I', i.id))
  ),
  all_entity_ids AS (
    -- Institution's own role
    SELECT 
      i.id AS institution_id,
      CONCAT('I', i.id) AS entity_id,
      'institution' AS role
    FROM openalex.institutions.institutions i
    
    UNION ALL
    
    -- Linked publisher/funder roles
    SELECT 
      institution_id,
      CASE 
        WHEN id_1 LIKE 'I%' THEN id_2 
        ELSE id_1 
      END AS entity_id,
      CASE 
        WHEN id_1 LIKE 'P%' OR id_2 LIKE 'P%' THEN 'publisher'
        WHEN id_1 LIKE 'F%' OR id_2 LIKE 'F%' THEN 'funder'
      END AS role
    FROM entity_links_expanded
    WHERE (id_1 LIKE 'P%' OR id_1 LIKE 'F%' OR id_2 LIKE 'P%' OR id_2 LIKE 'F%')
  ),
  roles_with_counts AS (
    SELECT 
      ae.institution_id,
      ae.role,
      CONCAT('https://openalex.org/', ae.entity_id) AS id,
      CASE 
        -- For institution: use works_count from main_agg (same source as API)
        WHEN ae.role = 'institution' THEN ma.works_count
        -- For publisher: join to publishers_api table
        WHEN ae.role = 'publisher' THEN p_api.works_count
        -- For funder: join to funders_api table
        WHEN ae.role = 'funder' THEN f_api.works_count
      END AS works_count
    FROM all_entity_ids ae
    -- Join to main_agg for institution works_count (same source as API)
    LEFT JOIN main_agg ma 
      ON ae.role = 'institution' AND ae.institution_id = ma.id
    -- Join to publishers_api for publisher works_count
    LEFT JOIN openalex.publishers.publishers_api p_api
      ON ae.role = 'publisher' AND ae.entity_id = REPLACE(p_api.id, 'https://openalex.org/', '')
    -- Join to funders_api for funder works_count
    LEFT JOIN openalex.funders.funders_api f_api
      ON ae.role = 'funder' AND ae.entity_id = REPLACE(f_api.id, 'https://openalex.org/', '')
  ),
  -- Deduplicate funders (keep one with highest works_count)
  deduplicated_roles AS (
    SELECT 
      institution_id,
      role,
      id,
      CAST(COALESCE(works_count, 0) AS INT) AS works_count,
      ROW_NUMBER() OVER (
        PARTITION BY institution_id, role 
        ORDER BY works_count DESC, id
      ) AS rn
    FROM roles_with_counts
  )
  SELECT 
    institution_id,
    COLLECT_LIST(
      STRUCT(role, id, works_count)
    ) AS roles
  FROM deduplicated_roles
  WHERE rn = 1 OR role != 'funder'  -- Keep all non-funders, but only top funder
  GROUP BY institution_id
),

-- UPDATED: Repositories - matching API format
repositories AS (
  SELECT 
    s.institution_id,
    COLLECT_LIST(
      STRUCT(
        CONCAT('https://openalex.org/S', s.id) AS id,
        s.display_name,
        -- For repositories: host_organization is the institution
        CONCAT('https://openalex.org/I', s.institution_id) AS host_organization,
        i.display_name AS host_organization_name,
        -- For repositories: host_organization_lineage contains just the institution
        ARRAY(CONCAT('https://openalex.org/I', s.institution_id)) AS host_organization_lineage
      )
    ) AS repositories
  FROM openalex.sources.sources s
  INNER JOIN openalex.institutions.institutions i 
    ON s.institution_id = i.id
  WHERE s.institution_id IS NOT NULL
    AND s.type = 'repository'
    AND s.merge_into_id IS NULL
  GROUP BY s.institution_id
),

-- UPDATED: Associated Institutions - matching API format, type computed from ror_types
associated_institutions AS (
  WITH ror_type_lookup AS (
    -- Replicate PROD logic: select MAX(type) when multiple types exist, BUT prefer non-funder
    SELECT 
      ror_id,
      LOWER(COALESCE(
        MAX(CASE WHEN LOWER(type) != 'funder' THEN type END),  -- Prefer non-funder types
        MAX(type)                                              -- Fallback to any type (including funder)
      )) AS ror_type,
      collect_set(type) AS types
    FROM openalex.mid.ror_types
    GROUP BY ror_id
  )
  SELECT 
    i.id AS institution_id,
    COLLECT_LIST(
      STRUCT(
        CONCAT('https://openalex.org/I', related_i.id) AS id,
        CONCAT('https://ror.org/', rr.related_ror_id) AS ror,
        related_i.display_name,
        related_i.iso3166_code AS country_code,
        LOWER(rt.ror_type) AS type,  -- Use MAX(type) from ror_types, lowercased
        LOWER(rr.relationship_type) AS relationship
      )
    ) AS associated_institutions
  FROM openalex.institutions.institutions i
  INNER JOIN openalex.mid.ror_relationships rr 
    ON REPLACE(i.ror_id, 'https://ror.org/', '') = rr.ror_id
  INNER JOIN openalex.institutions.institutions related_i 
    ON rr.related_ror_id = REPLACE(related_i.ror_id, 'https://ror.org/', '')
  LEFT JOIN ror_type_lookup rt
    ON rr.related_ror_id = rt.ror_id
  WHERE related_i.merge_into_id IS NULL
  GROUP BY i.id
),

ror_alternative_names AS (
  WITH joined as (
    SELECT ror_id, label as alt_name FROM openalex.mid.ror_labels
    UNION ALL
    SELECT ror_id, alias as alt_name FROM openalex.mid.ror_aliases
  )
  SELECT ror_id, collect_set(alt_name) as alt_names
  FROM joined
  GROUP BY ror_id
)

SELECT
  CONCAT('https://openalex.org/I', i.id) AS id,
  i.ror_id AS ror,
  i.display_name,
  i.iso3166_code AS country_code,
  i.type,
  ARRAY_SORT(
    TRANSFORM(
      ARRAY_COMPACT(CONCAT(ARRAY(i.id), COALESCE(il.lineage_ids, ARRAY()))), id -> CONCAT('https://openalex.org/I', id)
    )
  ) AS lineage,
  ARRAY_CONTAINS(SUPER_SYSTEM_INSTITUTIONS, i.id) as is_super_system,
  CONCAT('https://openalex.org/institution-types/', i.type) AS type_id,
  i.official_page AS homepage_url,
  i.image_url,
  i.image_thumbnail_url,
  i.display_name_acronyms,
  -- FIXED: Return empty array instead of NULL
  COALESCE(
    ARRAY_DISTINCT(ARRAY_COMPACT(CONCAT(COALESCE(i.display_name_alternatives, ARRAY()), COALESCE(ra.alt_names, ARRAY())))),
    ARRAY()
  ) AS display_name_alternatives,

  COALESCE(ma.works_count, 0) AS works_count,
  COALESCE(ma.cited_by_count, 0) AS cited_by_count,

  STRUCT(
    CONCAT('https://openalex.org/I', i.id) AS openalex,
    i.ror_id AS ror,
    i.wiki_page AS wikipedia,
    i.wikidata_id AS wikidata
  ) AS ids,

  -- Add roles
  COALESCE(ir.roles, ARRAY()) AS roles,

  -- Add repositories
  COALESCE(repo.repositories, ARRAY()) AS repositories,

  STRUCT(
    i.city,
    i.geonames_city_id,
    i.region,
    i.iso3166_code AS country_code,
    i.country,
    i.latitude,
    i.longitude
  ) AS geo,

  i.wikidata_id,
  i.wiki_page,

  /* topics & concepts */
  COALESCE(ts.topics, ARRAY()) AS topics,
  COALESCE(ts.topic_share, ARRAY()) AS topic_share,

  -- Add associated_institutions
  COALESCE(ai.associated_institutions, ARRAY()) AS associated_institutions,

  /* counts_by_year (authors-style; includes OA) */
  (
    SELECT
      FILTER(SORT_ARRAY(
        COLLECT_LIST(
          STRUCT(
            year,
            works_count,
            oa_works_count,
            cited_by_count
          )
        ),
        false
      ), x -> x.year >= 2010)
    FROM (
      SELECT
        CAST(u.pub_year AS INT) AS year,
        CAST(COUNT(DISTINCT u.work_id) AS INT) AS works_count,
        CAST(SUM(CASE WHEN u.is_oa THEN 1 ELSE 0 END) AS INT) AS oa_works_count,
        CAST(SUM(u.cited_by_count) AS INT) AS cited_by_count
      FROM unique_work_institution_pairs u
      WHERE u.institution_id = i.id
        AND u.pub_year IS NOT NULL
      GROUP BY CAST(u.pub_year AS INT)
    )
  ) AS counts_by_year,

  /* summary_stats */
  COALESCE(ma.summary_stats,
           NAMED_STRUCT('2yr_mean_citedness', CAST(0.0 AS DOUBLE),
                        'h_index', CAST(0 AS INT),
                        'i10_index', CAST(0 AS INT))) AS summary_stats,

  CONCAT('https://api.openalex.org/works?filter=institutions.id:I', CAST(i.id AS STRING)) AS works_api_url,

  ma.updated_date AS updated_date,
  TO_TIMESTAMP(i.created_date) AS created_date

FROM openalex.institutions.institutions i
LEFT JOIN main_agg ma ON i.id = ma.id
LEFT JOIN topics_and_share ts ON i.id = ts.institution_id
LEFT JOIN institution_lineage il ON i.id = il.institution_id
LEFT JOIN ror_alternative_names ra ON REPLACE(i.ror_id, 'https://ror.org/', '') = ra.ror_id
LEFT JOIN institution_roles ir ON i.id = ir.institution_id
LEFT JOIN repositories repo ON i.id = repo.institution_id
LEFT JOIN associated_institutions ai ON i.id = ai.institution_id
WHERE i.merge_into_id IS NULL;

In [0]:
SELECT * FROM openalex.institutions.institutions_api WHERE id = 'https://openalex.org/I18014758'

### Playground

In [0]:
SELECT * FROM openalex.mid.institution where ror_id = '05cshtm26' --https://ror.org/

In [0]:
-- -- Check how type is selected for institutions with multiple ROR types
-- SELECT 
--   i.id,
--   i.display_name,
--   i.ror_id,
--   i.type AS type_in_institutions_table,
--   rt.types_array
-- FROM openalex.institutions.institutions i
-- LEFT JOIN (
--   SELECT 
--     ror_id,
--     COLLECT_LIST(type) AS types_array,
--     MAX(type) AS max_type
--   FROM openalex.mid.ror_types
--   GROUP BY ror_id
-- ) rt ON REPLACE(i.ror_id, 'https://ror.org/', '') = rt.ror_id
-- WHERE i.id = 880615350  -- or any institution ID
--   --OR SIZE(rt.types_array) > 1;  -- Show all institutions with multiple types

In [0]:
-- SELECT 
--   ror_id,
--   LOWER(COALESCE(
--     MAX(CASE WHEN LOWER(type) != 'funder' THEN type END),  -- Prefer non-funder types
--     MAX(type)                                              -- Fallback to any type (including funder)
--   )) AS ror_type,
--   collect_set(type) AS types
-- FROM openalex.mid.ror_types
-- GROUP BY ror_id